html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.App ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.App ul li {
  background: grey;
  padding: 1rem;
  border-radius: 5px;
  color: navajowhite;
  font-weight: 700;
}

.App ul li a {
  text-decoration: none;
  color: #ffc600;
}
